{% include "public_header.html" %}


    <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="content-wrapper">
              <div class="section-badge">About Us</div>
              <h2>Your will is your voice when silence begins, Keep it safe</h2>
              <p class="lead">DigitalWill is a modern and secure platform designed to help individuals create, 
                store, verify, and distribute their last will documents with complete transparency. Using advanced
                 encryption and tamper-proof hashing technology, we ensure that every digital will remains authentic,
                  safe, and accessible only to authorized beneficiaries. Our goal is to simplify the will-handling process 
                while maintaining the highest standards of privacy and legal reliability.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="image-stack">
              <div class="image-card image-primary">
                <img src="/static/public/images/mm5.png" alt="Team collaboration" class="img-fluid">
              </div>
              
             
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->



{% include "footer.html" %}