
  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">DW&ATS</span>
          </a>
          <p>
          Digital Will & Asset Transfer System (DW&ATS) is designed to securely store wills, 
          manage encrypted documents, and ensure smooth and authentic asset transfer to beneficiaries.  
          Our mission is to bring trust, transparency, and modern security to the will-management process.
        </p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
          <li><a href="#">Encrypted Will Storage</a></li>
          <li><a href="#">Beneficiary Notifications</a></li>
          <li><a href="#">Hash Verification</a></li>
          <li><a href="#">Lawyer/Admin Verification</a></li>
          <li><a href="#">Secure Document Decryption</a></li>
        </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
           <p>DW&ATS Support Center</p>
        <p>Bengaluru, Karnataka</p>
        <p>India</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+91 98765 43210</span></p>
        <p><strong>Email:</strong> <span><a href="mailto:support@dwats.com">support@dwats.com</a></span></p>
     
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2025</span> <strong class="px-1 sitename">DW&ATS</strong>
      <span>All Rights Reserved</span>
    </p>
    <div class="credits">
      Secured with AES Encryption & Blockchain-Grade Hashing
    </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script data-cfasync="false" src="/static/public/js/email-decode.min.js"></script><script src="/static/public/js/bootstrap.bundle.min.js"></script>
  <script src="/static/public/js/validate.js"></script>
  <script src="/static/public/js/aos.js"></script>
  <script src="/static/public/js/glightbox.min.js"></script>
  <script src="/static/public/js/purecounter_vanilla.js"></script>
  <script src="/static/public/js/imagesloaded.pkgd.min.js"></script>
  <script src="/static/public/js/isotope.pkgd.min.js"></script>
  <script src="/static/public/js/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/public/js/main.js"></script>

<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" data-cf-beacon="{" version":"2024.11.0","token":"68c5ca450bae485a842ff76066d69420","server_timing":{"name":{"cfcachestatus":true,"cfedge":true,"cfextpri":true,"cfl4":true,"cforigin":true,"cfspeedbrain":true},"location_startswith":null}}"="" crossorigin="anonymous"></script>


</body></html>